*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  background-color: #00bcd4;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
  outline: none;
}
/*============(Header)===============*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/*============(Hero)===============*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba");
  background-size: cover;
  height: calc(100vh - 100px);
  padding: 2rem;
  color: #fff;
  margin-top: 60px;
}

.hero__title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 60%;
}

.hero__button:hover {
  background-color: #0097a7;
}

/*============(About)===============*/
.about {
  padding: 4rem 2rem;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.about p {
  line-height: 1.8;
  max-width: 800px;
  width: 90%;
  margin: 0 auto 2rem;
}

/*============(Call To Action)===============*/
.cta {
  background-color: #ccc;
  color: #222;
  padding: 4rem 2rem;
}

.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cta p {
  line-height: 1.8;
  max-width: 80%;
  margin: 0 auto 2rem;
  text-align: center;
}
.cta button {
  background-color: white;
  color: #00bcd4;
}

.cta button:hover {
  background-color: #f2f2f2;
}

/*============(Footer)===============*/
.footer {
  background-color: #fff;
  color: #222;
  padding: 2rem;
}

.footer p {
  text-align: center;
}

/*==============(dark mode styles)=============*/
.header--dark {
  background-color: red;
  color: blue;
}
.about--dark {
  background-color: #222;
  color: #fff;
}
.footer--dark {
  background-color: #222;
  color: #f9f9f9;
}
.cta--dark {
  background-color: #00bcd4;
  color: #fff;
}
